@import url(reset.css);

.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.container div{
    outline: 2px solid black;
}
.section-first, .section-second, .section-third{
    font-size: 0;
}
.section-first > div{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: aqua;
    font-size: 20px;
}
.section-second > div{
    display: inline-block;
    background-color: aquamarine;
    font-size: 20px;
}
.left-second > div{
    width: 600px;
    height: 150px;
}
.right-second > div{
    width: 300px;
    height: 100px;
}
.section-third > div{
    display: inline-block;
    background-color: bisque;
    font-size: 20px;
}
.left-third{
    width: 300px;
    height: 300px;
}
.section-third > div + div{
    width: 600px;
}
.right-third-top{
    width: 600px;
    height: 150px;
}
.right-under-top{
    font-size: 0;
}
.right-under-top > div{
    display: inline-block;
    font-size: 20px;
}
.left-bottom{
    width: 300px;
    height: 150px;
}
.right-bottom > div{
    width: 300px;
    height: 75px;
}




.first-float > div{
    float: left;
    width: 300px;
    height: 300px;
    background-color: burlywood;
}
.first-float::after{
    content: " ";
    display: block;
    clear: both;
}

.second-float > div{
    float: left;
    background-color: aquamarine;
}
.second-float::after{
    content: " ";
    display: block;
    clear: both;
}
.s-f-first > div{
    width: 600px;
    height: 150px;
}
.s-f-first + div > div{
    width: 300px;
    height: 100px;
}

.third-float > div{
    float: left;
    background-color: darkcyan;
}
.third-float::after{
    content: " ";
    display: block;
    clear: both;
}
.third-float > div{
    width: 300px;
    height: 300px;
}
.third-float > div + div{
    width: 600px;
}
.t-f-first > div{
    height: 150px;
}
.t-f-second > div{
    float: left;
    width: 300px;
    height: 150px;
}
.t-f-second > div + div > div{
    height: 75px;
}

footer{
    height: 100px;
    background-color: black;
    text-align: center;
    padding: 20px;
}
footer > a{
    color: white;
    font-size: 40px;
}

/* added flex */

.flex{
    display: flex;
}
.first-flex{
    background-color: aquamarine;
    height: 300px;
}
.second-flex{
    background-color: coral;
    height: 300px;
}
.second-flex :first-child > div{
    width: 600px;
    height: 50%;
}
.second-flex div + div > div{
    width: 300px;
    height: 33.333%;
}
.third-flex{
    background-color: blue;
    height: 300px;
}
.height-first{
    height: 150px;
}
.height-second > div{
    height: 50%;
}


